<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Shop</title>
</head>
<body>
    {{{ body }}}
    <br>
    <h3>Rendered from main.hbs</h3>
</body>
</html>