<% include ../partials/header %>

    <div id="container">
            <h1>Welcome to Search Page</h1>
            <form action="/" method="GET">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter Artist's Name Here" />
                <input type="submit" value="Submit" />
            </form>
    </div>

<% include ../partials/footer %>
